html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

    body > .container {
        padding: 10px 10px 0;
    }

.tab-content > div {
    padding: 10px 10px;
    margin-bottom: 50px;
}

    .tab-content > div form {
        background: #F6F6F6;
        padding: 30px 30px 30px 30px;
        border-radius: 5px;
        border: 1px #DDD solid;
    }

        .tab-content > div form .breadcrumb {
            margin: 0 0 40px 0;
            padding: 10px 20px;
            background: #EEE;
        }

#leitos .pacientes {
    position: relative;
    width: 100%;
    height: 155px;
    text-align: left;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

    #leitos .pacientes::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    #leitos .pacientes::-webkit-scrollbar-track {
        background: #EEE;
        border-radius: 5px;
    }

    #leitos .pacientes::-webkit-scrollbar-thumb {
        background: #CCC;
        border-radius: 10px;
    }

    .gdata-pacientes {
        position: relative;
        display: inline-block;
        background: #EEE;
        width: 120px;
        height: 120px;
        margin: 10px;
        border: 1px solid #EEE;
        border-radius: 5px;
        vertical-align: top;
        font-size: 11px;
        text-align: center;
        line-height: 15px;
        cursor: pointer;
    }

        .gdata-pacientes > span {
            padding: 15px 0 10px 0;
            font-size: 36px;
        }

        .gdata-pacientes > p {
            margin: 0;
            padding: 0 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .gdata-pacientes:hover {
            border: 1px solid #AAA;
        }

#leitos .leitos {
    position: relative;
    width: 100%;
    height: 155px;
    text-align: left;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

    #leitos .leitos::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    #leitos .leitos::-webkit-scrollbar-track {
        background: #EEE;
        border-radius: 5px;
    }

    #leitos .leitos::-webkit-scrollbar-thumb {
        background: #CCC;
        border-radius: 10px;
    }

    #leitos .leitos div {
        position: relative;
        display: inline-block;
        background: #EEE;
        width: 120px;
        height: 120px;
        margin: 10px;
        border: 1px solid #EEE;
        border-radius: 5px;
        vertical-align: top;
        font-size: 11px;
        text-align: center;
        cursor: pointer;
    }

        #leitos .leitos div > span {
            padding: 15px 0;
            font-size: 36px;
        }

        #leitos .leitos div > p {
            margin: 0;
            padding: 0 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #leitos .leitos div:hover {
            border: 1px solid #AAA;
        }

        .gdata-leitos-ativo {
            border: 1px solid #AAA !important;
            color: #444 !important;
        }

        .gdata-leitos-acima {
            opacity: 0.3;
        }
