@charset "utf-8";
/* CSS Document */

body
{ 
	margin:0px; 
	font-family:Verdana, Geneva, sans-serif;
	overflow:hidden;
}
#wrap
{
	position:absolute; 
	width:100%; 
	height:100%;
	z-index:500;
	display:none;
}
#wrap-window
{
	position:absolute; 
	width:100%; 
	height:100%;
	z-index:53;
	display:none;
}
#loader
{
	position:absolute;
	padding:20px 40px 20px 40px;
	top:50%;
	left:50%;
	margin:-48px 0 0 -68px;
	background:rgba(0,0,0,0.6);
	border-radius:10px;
	box-shadow:0 0 15px rgba(0,0,0,0.7);
	display:none;
	z-index:501;
}
#loader img
{
	width:48px;
}
#centro
{ 
	position:absolute; 
	width:100%; 
	height:100%;
	background:url(../images/bg.png) center;
}
#gradient
{
	position:absolute; 
	width:100%; 
	height:100%;
	background: -webkit-radial-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
	background: -moz-radial-gradient(rgba(255,255,255,0), rgba(0,0,0,0.6));
	background: -o-radial-gradient(rgba(255,255,255,0), rgba(0,0,0,0.6));
	background: -ms-radial-gradient(rgba(255,255,255,0), rgba(0,0,0,0.6));
}
#intera
{
	position:absolute;
	top:30px;
	right:30px;
	text-align:center;
	z-index:30;
}
#intera input
{
	padding:8px 8px 8px 8px;
	width:170px;
	background:#333;
	border-top:1px #111 solid;
	border-left:1px #111 solid;
	border-bottom:1px #555 solid;
	border-right:1px #555 solid;
	box-shadow:inset 2px 2px 5px rgba(0,0,0,0.3);
	color:#AAA;
	font-size:14px;
}
#logo-effect
{
	position:absolute; 
	width:600px; 
	height:600px;
	top:50%;
	left:50%;
	margin:-300px 0 0 -300px
}
#logo
{ 
	position:absolute;
	width:600px;
	height:auto;
	top:50%;
	left:50%;
	margin:-120px 0 0 -300px;
	color:#FFF; 
	font-size:100px; 
	font-weight:bold;
	text-align:center;
	text-shadow:0 2px 10px rgba(0,0,0,0.6);
	z-index:5;
}
#logo p
{
	position:relative;
	display:inline-block;
	padding:0px;
	margin:0px;
	cursor:move;
}
#logo p:nth-child(1)	{ top:-200px; left:-100px; opacity:0; }
#logo p:nth-child(2)	{ top:200px; left:100px; opacity:0; }
#logo p:nth-child(3)	{ top:-200px; left:80px; opacity:0; }
#logo p:nth-child(4)	{ top:200px; left:-100px; opacity:0; }
#logo p:nth-child(5)	{ top:-200px; left:100px; opacity:0; }
#logo p:nth-child(6)	{ top:200px; left:80px; opacity:0; }
#logo p:nth-child(7)	{ top:-200px; left:-100px; opacity:0; }
#logo p:nth-child(8)	{ top:200px; left:100px; opacity:0; }
#logo p:nth-child(9)	{ top:200px; left:90px; opacity:0; }
#logo p:nth-child(10)	{ top:200px; left:-100px; opacity:0; }
#logo p:nth-child(11)	{ top:-200px; left:100px; opacity:0; }
#logo p:nth-child(12)	{ top:200px; left:80px; opacity:0; }
#janela
{ 
	position:absolute; 
	width:100px; 
	height:50px;
	padding:44px 7px 7px 7px;
	top:-100px;
	left:-100px;
	background:rgba(255,255,255,0.2);
	border:1px #888 solid;
	border-radius:3px;
	box-shadow:none;
	opacity:0;
	z-index:50;
}
#content
{
	position:relative;
	width:100%;
	height:100%;
	background:#EEE;
}
#cabecalho
{
	position:relative;
	top:-38px;
	padding:10px;
	background: -webkit-linear-gradient(#DDD, #CCC);
	background: -moz-linear-gradient(#DDD, #CCC);
	background: -o-linear-gradient(#DDD, #CCC);
	background: -ms-linear-gradient(#DDD, #CCC);
	margin-bottom:-38px;
	border-bottom:1px #BBB solid;
	color:#666;
	font-weight:bold;
	font-size:14px;
	text-shadow:-0 0 3px #999;
	cursor:default;
	z-index:100;
}
#cabecalho #mini img
{
	position:relative;
	width:64px;
	float:left;
	top:-8px;
	left:-4px;
	padding-right:4px;
	cursor:pointer;
}
#cabecalho #func
{
	position:relative;
	float:right;
	top:-17px;
	right:-2px;
}
#cabecalho #func li
{
	float:left;
	vertical-align:middle;
}
#cabecalho #func img
{
	position:relative;
	width:32px;
	top:-8px;
	padding:0 0px 0 12px;
	cursor:pointer;
}
#conteudo
{
	position:absolute;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
}
#content iframe
{
	position:relative;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	border:none;
	background:#EEE;
	display:none;
}
.ui-resizable-helper
{ 
	border: 1px dotted #CCC;
}
#menu
{
	position:absolute;
	width:100%;
	height:auto;
	text-align:center;
	bottom:0px;
	
	box-shadow:inset 0 3px 15px rgba(0,0,0,0.8), 0 0 15px rgba(255,255,255,0.6);
	background: -webkit-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9));
	background: -moz-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9));
	background: -o-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9));
	background: -ms-linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.9));
	
	z-index:30;
}
#menu ul
{
	position:relative;
	width:804px;
	height:64px;
	margin:0 auto;
	top:0px;
}
#menu li
{
	float:left;
	position:relative;
	cursor:pointer;
	margin:30px 10px 30px 10px;
}
#menu img
{
	position:relative;
	width:48px;
	margin:0px;
	padding:10px;
	border-radius:8px;
	box-shadow:0 1px 3px rgba(0,0,0,0.6);
	
	background: -webkit-linear-gradient(rgba(160,160,160,1) 0%, rgba(100,100,100,1) 3%, rgba(40,40,40,1) 100%);
	background: -moz-linear-gradient(rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.4) 3%, rgba(200,200,200,0.2) 70%);
	background: -o-linear-gradient(rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.4) 3%, rgba(200,200,200,0.2) 70%);
	background: -ms-linear-gradient(rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.4) 3%, rgba(200,200,200,0.2) 70%);
}

#menu-lateral
{
	position:absolute;
	width:300px;
	height:100%;
	text-align:center;
	bottom:0px;
	box-shadow:inset 0 0 20px rgba(255,255,255,0.2), 0 0 20px rgba(0,0,0,0.8);
	background:url(../bg.png);
	z-index:150;
	display:none;
}