#wallclock #clock .hh {
	transform:rotate(13.0416666667deg);
	-webkit-transform:rotate(13.0416666667deg);
	-ms-transform:rotate(13.0416666667deg);
}
#wallclock #clock .mm {
	transform:rotate(156.5deg);
	-webkit-transform:rotate(156.5deg);
	-ms-transform:rotate(156.5deg);
}
#wallclock #clock .ss {
	animation: tick 1s normal infinite steps(25,end);
	-webkit-animation: tick 1s normal infinite steps(25,end);
 }
@keyframes shiftedtick {
	0% { transform: rotate(30deg); }
	12% { transform: rotate(36deg); }
	100% { transform: rotate(36deg); }		
}

@-webkit-keyframes shiftedtick {
	0% { -webkit-transform: rotate(30deg); }
	12% { -webkit-transform: rotate(36deg); }
	100% { -webkit-transform: rotate(36deg); }			
}