body {
    overflow: hidden;
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 12px;
    color: #000;
    background-color: #b88846;
    background-image: linear-gradient(45deg, #9f753b 25%, transparent 25%, transparent), linear-gradient(-45deg, #9f753b 25%, transparent 25%, transparent), linear-gradient(45deg, transparent 75%, #9f753b 75%), linear-gradient(-45deg, transparent 75%, #9f753b 75%);
    background-size: 300px 300px;
}

.hds-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url('../img/background.jpg');
    background-repeat: repeat;
    background-position: center;
    display: none;
}

.hds-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    padding: 30px;
    background: radial-gradient(transparent 60%,rgba(0,0,0,0.6));
}

.hds-preloader {
    position: absolute;
    width: 310px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -155px;
    perspective: 300px;
    z-index: 9995;
}

    .hds-preloader .pre-anime {
        position: absolute;
        width: 40px;
        height: 40px;
        animation-name: preloader-effect;
        animation-direction: alternate;
        animation-duration: 600ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        background: #f8ec52;
        line-height: 40px;
        text-indent: 15px;
        color: #000;
    }

        .hds-preloader .pre-anime:nth-child(1) {
            left: 0px;
            animation-delay: 0ms;
        }

        .hds-preloader .pre-anime:nth-child(2) {
            left: 45px;
            animation-delay: 100ms;
        }

        .hds-preloader .pre-anime:nth-child(3) {
            left: 90px;
            animation-delay: 200ms;
        }

        .hds-preloader .pre-anime:nth-child(4) {
            left: 135px;
            animation-delay: 300ms;
        }

        .hds-preloader .pre-anime:nth-child(5) {
            left: 180px;
            animation-delay: 400ms;
        }

        .hds-preloader .pre-anime:nth-child(6) {
            left: 225px;
            animation-delay: 500ms;
        }

        .hds-preloader .pre-anime:nth-child(7) {
            left: 270px;
            animation-delay: 600ms;
        }

@keyframes preloader-effect {
    0% {
        transform: scale(1.0) rotateX(-40deg) translateY(0px);
        background: #c6b914;
        box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
    }

    100% {
        transform: scale(1.0) rotateX(40deg) translateY(-10px);
        background: #f8ec52;
        box-shadow: 0 8px 15px rgba(0,0,0,0.4);
    }
}

.new-postit {
    position: absolute;
    background: #f8ec52;
    top: -200px;
    left: -200px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    cursor: pointer;
}

    .new-postit::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #f8ec52 url('../img/new-postit.svg') no-repeat center;
        background-size: 80%;
        transform: rotate(60deg);
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }

    .new-postit::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #f8ec52;
        transform: rotate(-60deg);
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
    }

.hds-postit {
    position: absolute;
    width: 380px;
    height: 300px;
    padding: 5px;
    background: #f8ec52;
    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
    display: none;
}

    .hds-postit .fixe {
        position: absolute;
        width: 30px;
        height: 30px;
        top: -10px;
        left: 50%;
        margin-left: -15px;
        background: #0067ce;
        border-radius: 15px;
        box-shadow: -10px 15px 25px rgba(0,0,0,0.2), inset -1px -8px 6px rgba(0,0,0,0.4), inset 1px 1px rgba(255,255,255,0.5), -1px 4px 2px rgba(0,0,0,0.4), inset -1px -1px rgba(255,255,255,0.6), -1px 1px rgba(0,0,0,0.4);
        cursor: move;
        z-index: 10;
    }

        .hds-postit .fixe::after {
            content: "";
            position: absolute;
            top: -2px;
            left: 3px;
            width: 22px;
            height: 22px;
            background: radial-gradient(#014ec2,#0045bc);
            box-shadow: inset 0 -1px 10px rgba(255,255,255,0.4), 1px 1px 4px rgba(0,0,0,0.4);
            border-radius: 11px;
        }

    .hds-postit .box {
        position: relative;
        width: 100%;
        height: 100%;
    }

        .hds-postit .box .header {
            position: absolute;
            top: -5px;
            left: -5px;
            right: -5px;
            height: 35px;
            background: rgba(255,255,255,0.2);
        }

            .hds-postit .box .header div {
                display: inline-block;
                line-height: 0px;
            }

            .hds-postit .box .header .title {
                position: relative;
                width: auto;
                height: 100%;
                padding: 10px 10px;
            }

                .hds-postit .box .header .title input {
                    border: none;
                    background: none;
                    outline: none;
                }

            .hds-postit .box .header .control {
                position: relative;
                width: auto;
                height: 100%;
                float: right;
            }

                .hds-postit .box .header .control input {
                    position: relative;
                    width: 35px;
                    height: 35px;
                    border: none;
                    padding: 0px;
                    background: none;
                }

        .hds-postit .box .main {
            position: absolute;
            top: 40px;
            left: 8px;
            right: 8px;
            bottom: 30px;
        }

            .hds-postit .box .main .textarea {
                position: relative;
                width: 100%;
                height: 100%;
                border: none;
                resize: none;
                box-sizing: border-box;
                outline: none;
                overflow: auto;
            }

                .hds-postit .box .main .textarea::-webkit-scrollbar {
                    width: 6px;
                    height: 6px;
                }

                .hds-postit .box .main .textarea::-webkit-scrollbar-track {
                }

                .hds-postit .box .main .textarea::-webkit-scrollbar-thumb {
                    background-color: rgba(0,0,0,0.4);
                }

        .hds-postit .box .footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 30px;
            display: block;
        }

            .hds-postit .box .footer ul {
                margin: 0px;
                padding: 0px;
            }

                .hds-postit .box .footer ul li {
                    list-style: none;
                    float: left;
                }

                    .hds-postit .box .footer ul li a {
                        text-decoration: none;
                        color: #000;
                        display: block;
                        height: 30px;
                        padding: 0 8px;
                    }

                    .hds-postit .box .footer ul li:hover {
                        background: rgba(0,0,0,0.1);
                    }

                        .hds-postit .box .footer ul li:hover > ul {
                            display: block;
                        }

                    .hds-postit .box .footer ul li a span {
                        position: relative;
                        width: 14px;
                        height: 14px;
                        top: 8px;
                        display: block;
                        border: 1px rgba(0,0,0,0.4) solid;
                        box-shadow: inset 0 7px 10px rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.2);
                    }

                .hds-postit .box .footer ul ul {
                    position: absolute;
                    bottom: 0px;
                    background: #f8ec52;
                    box-shadow: 1px -1px rgba(0,0,0,0.4);
                    display: none;
                }

                    .hds-postit .box .footer ul ul li {
                        float: none;
                    }

.ui-resizable-helper {
    border: none;
    background: rgba(0,0,0,0.2);
}
