/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.2
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default .nivoSlider {
	position:relative;
	width:780px !important;
	height:250px !important;
	background:url(loading.gif) no-repeat 50% 50% #FFF;
	margin:0px;
	cursor:pointer;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	width:100%;
	height:auto;
	bottom:0px;
	padding:5px 0 2px 0;
	text-align: center;
	z-index:100;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 40px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:43px;
	height:43px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background:url(forward.png);
	right:15px;
}
.theme-default a.nivo-prevNav {
	background:url(back.png);
	left:15px;
}

.theme-default .nivo-caption {
	top:20px;
	width:auto;
	height:40px;
	line-height:30px;
	font-size:12px;
	background:rgba(0,0,0,0.8);
	padding:0 10px 0 10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	height: auto;
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.6);
}