#wrocky_back 		{ position:absolute; width:100%; height:100%; z-index:1; }
#wrocky_fback		{ position:absolute; width:100%; height:100%; top:190px; }

#wrocky_fback
{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0%,rgba(80,80,80,1)), color-stop(10%,rgba(80,80,80,0.5)), color-stop(80%,rgba(255,255,255,0)) );
	background: -moz-linear-gradient(top, #FFF 0%, rgba(80,80,80,1) 1px, rgba(80,80,80,0.5) 10%, rgba(255,255,255,0) 80%);
}
#wrocky_fback		{ -webkit-transition:1s; }
#wrocky_fback		{ -moz-transition:1s; }
#wrocky_fback		{ -o-transition:1s; }
#wrocky_fback		{ -webkit-box-shadow:0 -5px 10px rgba(0,0,0,0.1); }
#wrocky_fback		{ -moz-box-shadow:0 -5px 10px rgba(0,0,0,0.1); }
#wrocky_fback		{ box-shadow:0 -5px 10px rgba(0,0,0,0.1); }

#wrocky_logo		{ -webkit-transition:1s; }
#wrocky_logo		{ -moz-transition:1s; }
#wrocky_logo		{ -o-transition:1s; }

#wrocky_logo 		{ position:absolute; top:60px; left:50%; margin:0 0 0 -202px; }
#wrocky_logo img	{ height:200px; }
#wrocky_icons 		{ margin-top:300px; text-align:center; }

#wrocky_menu		{ -webkit-transition:1s; }
#wrocky_menu		{ -moz-transition:1s; }
#wrocky_menu		{ -o-transition:1s; }

#wrocky_menu_reflect	{ -webkit-box-reflect: below -65px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5))); }

#wrocky_menu li 	{ display:inline-block; }
#wrocky_menu img	{ width:auto; min-width:100px; height:100px; padding:3px; }
#wrocky_menu img	{ background:rgba(150,150,150,0.5);; border:1px rgba(0,0,0,0.1) solid; border-radius:5px; }
#wrocky_menu img	{ -webkit-box-shadow:0 0 10px rgba(0,0,0,0.25); }
#wrocky_menu img	{ -moz-box-shadow:0 0 10px rgba(0,0,0,0.25); }
#wrocky_menu img	{ box-shadow:0 0 10px rgba(0,0,0,0.25); }

#wrocky_icons_cab	{ -webkit-transition:1s; }
#wrocky_icons_cab	{ -moz-transition:1s; }
#wrocky_icons_cab	{ -o-transition:1s; }

#wrocky_icons_cab 	{ padding-bottom:0px; font-weight:bolder; font-size:20px; margin-bottom:40px; color:#999; }
#wrocky_icons_cab 	{ -webkit-box-reflect: below -9px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));  }
#wrocky_icons_cab 	
{
	text-shadow:0 0 8px rgba(0,0,0,0.2);
	-webkit-text-fill-color: rgba(255,255,255,0.9);
	-webkit-text-stroke-color: rgba(0,0,0,0.2);
	-webkit-text-stroke-width: 2px;
}

#wrocky_inform	{ position:relative; display:none; background:rgba(0,0,0,0.5); width:250px; top:-533px; padding:10px; margin:0 auto; text-align:center; font-size:12px; }

#wrocky_persona
{
	-webkit-transition:1s;
	-moz-transition:1s;
	-o-transition:1s;
	
	position:absolute; 
	width:100%; 
	height:30px;
	border-bottom:1px rgba(80,80,80,0.5); solid;
	background:rgba(80,80,80,0.2);
	z-index:10;
	
	-webkit-box-shadow:inset 0 -15px 20px rgba(120,120,120,0.8), 0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:inset 0 -15px 20px rgba(120,120,120,0.8), 0 0 20px rgba(0,0,0,0.2);
	box-shadow:inset 0 -15px 20px rgba(120,120,120,0.8), 0 0 20px rgba(0,0,0,0.5);
}

#wrocky_persona:hover
{
	background:rgba(160,160,160,0.8);
}

#wrocky_persona td
{
	padding:0px 10px 5px 0px
}

#wrocky_form 
{
	background:rgba(20,20,20,1);
	padding:8px;
	
	-webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.2);
	-moz-box-shadow:inset 0 0 1px rgba(0,0,0,0.2);
	box-shadow:inset 0 0 1px rgba(0,0,0,0.2);
}

#wrocky_form ul
{
	padding:0px;
}

#wrocky_form li
{
	padding:5px;
}

#wrocky_form input
{
	width:250px;
}

#wrocky_form textarea
{
	width:250px;
	height:120px;
}

#wrocky_form_loader
{ 
	position:absolute; 
	top:50%; 
	left:50%; 
	margin:-16px 0 0 -16px; 
	display:none; 
}

#wrocky_form_sucess 
{ 
	background:#FFF;
	width:100%;
	height:100%; 
	padding-top:50px;
	padding-bottom:50px; 
	background: repeat-x #FFF;
	font-weight:bold;
	display:none;
}

#wrocky_chat_drag	{ position:absolute; width:250px; height:50px; right:10px; bottom:40px; }

#wrocky_chat	{ -webkit-transition:1s; }
#wrocky_chat	{ -moz-transition:1s; }
#wrocky_chat	{ -o-transition:1s; }
#wrocky_chat 	{ font-family:Verdana, Geneva, sans-serif; font-size:12px; border:1px #888 solid; }
#wrocky_chat 	{ position:absolute; bottom:0px; right:0px; z-index:9999; width:auto; height:auto; padding:5px 5px 5px 5px; background:rgba(80,80,80,0.1); }
#wrocky_chat 	
{ 
	-webkit-box-shadow:inset 0 0 40px rgba(80,80,80,1),0 0 10px rgba(0,0,0,0.4); 
	-moz-box-shadow:inset 0 0 40px rgba(80,80,80,1), 0 0 10px rgba(0,0,0,0.4); 
	box-shadow:inset 0 0 40px rgba(80,80,80,1), 0 0 10px rgba(0,0,0,0.4); 
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

#wrocky_chat:hover	{ background:rgba(80,80,80,0.85); }

.wrocky_chat_logo					{ font-weight:bold; text-shadow:0 1px 0 rgba(0,0,0,0.9); color:#FFF; }
.wrocky_chat_logo li				{ display:inline-block; padding:5px 5px 5px 5px;}
.wrocky_chat_logo li:first-child	{ float:left; margin-top:4px; margin-right:5px; }
.wrocky_chat_logo li:last-child		{ float:right; }

.wrocky_chat_msgs 		{ position:relative; width:100%; height:400px; margin-top:38px; background:rgba(0,0,0,0.8); overflow-x:hidden; overflow-y:auto; }

.wrocky_chat_msgs 		
{
	-webkit-box-shadow:0 0 2px rgba(0,0,0,0.8); 
	-moz-box-shadow:0 0 2px rgba(0,0,0,0.8); 
	box-shadow:0 0 2px rgba(0,0,0,0.8); 
}

.msg_cab 				{ background:rgba(0,0,0,0.04); font-weight:bold; }
.msg_msg 				{ margin:0px; }
.msg_snd 				{ margin:0px; }

.wrocky_chat_msgs ul 	{ font-size:12px; width:100%; padding:3px 3px 3px 3px; }

.wrocky_chat_form input[type=text]
{
	border:1px #CCC solid;
	
	width:250px;
	padding:5px;
	
	outline:none;
	
	-webkit-box-shadow:0 0 0;
	-moz-box-shadow:0 0 0;
	box-shadow:0 0 0;
}

.wrocky_chat_form input[type=text][disabled]
{
	border-bottom:0px;
}

.wrocky_chat_form ul 		{ list-style:none; padding-top:5px; }
.wrocky_chat_form li 		{ list-style:none; display:inline-block; }
.wrocky_chat_form textarea 	
{ 
	font-family:Verdana, Geneva, sans-serif; 
	font-size:10px; 
	width:220px; 
	height:80px; 
	min-width:220px; 
	min-height:80px; 
	max-width:220px; 
	max-height:300px; 
}


#wrocky_foot 
{ 
	position:absolute;
	background:rgba(80,80,80,0.5);;
	width:100%;
	height:30px;
	bottom:0px; 
	text-align:center;
	z-index:1;
	
	-webkit-box-shadow:inset 0 -15px 15px rgba(0,0,0,0.2),0 0 20px rgba(0,0,0,0.6);
	-moz-box-shadow:inset 0 -15px 15px rgba(0,0,0,0.2),0 0 20px rgba(0,0,0,0.6);
	box-shadow:inset 0 -15px 15px rgba(0,0,0,0.2),0 0 20px rgba(0,0,0,0.6);
}

#wrocky_foot_text 
{
	margin-top:8px; 
	text-shadow: 0 1px 0 #000;
}

#wrocky_html5
{
	position:absolute;
	left:5px;
	bottom:5px;
	
	z-index:5000;
}

#wrocky_html5 img
{
	-webkit-transition:1s;
	-moz-transition:1s;
	-o-transition:1s;
	transition:1s;

	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	transform:scale(0.8);
}

#wrocky_html5 img:hover
{
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9);
	transform:scale(0.9);
}