@charset "utf-8";

body							{ font-family:Verdana, Geneva, sans-serif; font-size:12px; background:url(../images/background.jpg) repeat-x #FFF; }

#wrap							{ position:absolute; width:100%; height:100%; z-index:10; display:none; }

#corpo 							{ position:relative; width:960px; height:auto; margin:0 auto; }
/*
#corpo 							{ background:-webkit-radial-gradient( 50% 50%, circle, rgba(255,255,255,0.8) 70%, rgba(255,255,255,0) 80%); }
#corpo 							{ background:-moz-radial-gradient( 50% 50%, circle, rgba(255,255,255,0.8) 70%, rgba(255,255,255,0) 80%); }
*/
#corpo #cabecalho 				{ z-index:1; }
#corpo #conteudo 				{ position:relative; width:100%; height:470px; z-index:0; }
#corpo #conteudo #loading		{ position:relative; width:100%; height:470px; background:url(../images/loader.gif) no-repeat; background-position:center; }
#corpo #menu					{ text-align:center; padding:10px; z-index:5; }
#corpo #rodape 					{ text-align:center; font-size:9px; padding:35px 0 15px 0; color:#666; }

#corpo #cabecalho div			{ display:inline-block; vertical-align:middle; }
#corpo #cabecalho #logo			{ background:url(../images/logo.png) no-repeat; background-size:100%; width:300px; height:95px; }
#corpo #cabecalho #slogan		{ font-size:14px; font-weight:bold; }

#corpo #conteudo ul 			{ text-align:center; }
#corpo #conteudo li 			{ position:absolute; display:inline-block; width:300px; height:450px; margin:8px; }
#corpo #conteudo li 			{ background:rgba(245,245,245,0.9); cursor:pointer; }
#corpo #conteudo li 			{ box-shadow:0 3px 8px rgba(0,0,0,0.6); -webkit-box-shadow:0 3px 8px rgba(0,0,0,0.6); }
#corpo #conteudo				{ -webkit-box-reflect:below -20px -webkit-linear-gradient(top, rgba(255,255,255,0) 80%, rgba(255,255,255,0.3) 100%); }

#corpo #conteudo #coluna_1		{ top:-600px; left:0px; opacity:0; }
#corpo #conteudo #coluna_2		{ top:-600px; left:0px; opacity:0; }
#corpo #conteudo #coluna_3		{ top:-600px; left:0px; opacity:0; }

#corpo #conteudo #desc			{ position:absolute; width:270px; height:180px; padding:15px; margin-top:240px; color:#FFF; background:rgba(0,0,0,0.2); }
#corpo #conteudo #desc			{ line-height:20px; }
#corpo #conteudo #desc h1		{ margin:8px 0 10px 0; }

#corpo #menu #nav li			{ box-shadow:0 1px 3px rgba(0,0,0,0.5); border:1px #FFF solid; }
#corpo #menu #nav li 			{ position:relative; display:inline-block; margin:0 -2px 0 -2px; padding:10px 20px 10px 20px; cursor:pointer; }
#corpo #menu #nav li 			{ background:#FFF; }
#corpo #menu #nav li 			{ background:-webkit-linear-gradient(top, #FFF 0%, #DDD 100%); }
#corpo #menu #nav li 			{ background:-moz-linear-gradient(top, #FFF 0%, #DDD 100%); }
#corpo #menu #nav li 			{ background:-o-linear-gradient(top, #FFF 0%, #DDD 100%); }
#corpo #menu #nav li:hover		{ background:#FFF; }

#corpo #menu #nav ul 			{ position:absolute; bottom:35px; left:-1px; background:rgba(255,255,255,0.9); display:none; z-index:150; }
#corpo #menu #nav ul 			{ box-shadow:1px 1px 5px rgba(0,0,0,0.4); }
#corpo #menu #nav ul li			{ -webkit-transition:300ms; -moz-transition:300ms; -o-transition:300ms; }
#corpo #menu #nav ul li			{ background:#FFF; width:100px; text-align:left; margin:0px; box-shadow:none; }
#corpo #menu #nav ul li:hover	{ background:#376A88; color:#FFF; }

#contato									{ padding:0px; text-align:center; }
#contato									{ background:-webkit-linear-gradient(top, #FFF 0%, #EEE 100%); }
#contato									{ background:-moz-linear-gradient(top, #FFF 0%, #EEE 100%); }
#contato									{ background:-o-linear-gradient(top, #FFF 0%, #EEE 100%); }

#contato #cabecalho							{ width:100%; padding:8px 0 8px 0; border-bottom:1px #CCC solid; }
#contato #cabecalho							{ background:-webkit-linear-gradient(top, #FFF 0%, #EEE 100%); }
#contato #cabecalho							{ background:-moz-linear-gradient(top, #FFF 0%, #EEE 100%); }
#contato #cabecalho							{ background:-o-linear-gradient(top, #FFF 0%, #EEE 100%); }

#contato #rodape							{ width:100%; padding:8px 0 8px 0; background:rgba(0,0,0,0.03); }

#contato #formulario						{ padding:10px 10px 8px 10px; width:370px\9; }
#contato #formulario ul						{ text-align:left; }
#contato #formulario li						{ display:inline-block; vertical-align:top; padding:5px 5px 5px 5px}
#contato #formulario ul li:first-child		{ width:130px; }
#contato #formulario ul:last-child			{ text-align:center; }
#contato #formulario textarea				{ min-width:200px; min-height:100px; resize:none; }
