#gradient									{ position:absolute; width:100%; height:100%; }
#gradient									{ background: -webkit-radial-gradient(rgba(0,0,0,0) 20%,rgba(0,0,0,1)); }
#gradient									{ background: -moz-radial-gradient(rgba(0,0,0,0) 20%,rgba(0,0,0,1)); }
#gradient									{ background: -o-radial-gradient(rgba(0,0,0,0) 20%,rgba(0,0,0,1)); }
#gradient									{ background: radial-gradient(rgba(0,0,0,0) 20%,rgba(0,0,0,1)); }

#overlay									{ position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:10; display:none; }
#overlay-close								{ position:absolute; top:10px; right:10px; z-index:100; cursor:pointer; opacity:0.6; display:none; }
#loader										{ position:absolute; padding:20px 40px 20px 40px; background:rgba(0,0,0,0.4); border-radius:10px; }
#loader										{ top:50%; left:50%; margin:-44px 0 0 -64px; box-shadow:0 0 40px rgba(0,0,0,0.8); display:none; z-index:999; }

#logo										{ position:absolute; width:420px; height:520px; top:50%; left:50%; margin:-300px 0 0 -210px; }

#menu										{ position:absolute; width:100%; height:auto; background:url(../images/back-rpo.png) #cb762a; bottom:0px; z-index:15; }
#menu										{ box-shadow:0 -2px 25px rgba(0,0,0,0.6); color:#FFF; font-weight:bold; text-shadow:0 2px 10px rgba(0,0,0,0.6); }
#menu										{ border-top:1px rgba(255,255,255,0.3) solid; }
#menu ul									{ position:relative; width:960px; height:50px; margin:0 auto; text-align:right; z-index:5; }
#menu li									{ position:relative; width:180px; height:100%; margin:0 -5px 0 -5px; text-align:center; display:inline-block; }
#menu li									{ font-size:14px; cursor:pointer; }
#menu li .pri, #menu ul ul					{ border-top-left-radius:5px; border-top-right-radius:5px; }
#menu li .pri								{ position:absolute; width:170px; height:100%; background:url(../images/back-rpo.png); }
#menu li .pri								{ line-height:52px; cursor:pointer; z-index:10; }
#menu li .sub								{ cursor:pointer; padding:20px 0 20px 0; }
#menu ul ul									{ position:absolute; width:auto; height:auto; background:url(../images/back-rpo.png); margin:0 0 -35px 0; }
#menu ul ul									{ padding:10px 0 10px 0; bottom:-100px; opacity:0; }
#menu ul ul	li								{ display:block; font-size:12px; }
#menu li .sub:hover							{ background: url(../images/back-rpa.png); box-shadow:0 2px 5px rgba(0,0,0,0.3); }
#menu-overlay								{ position:absolute; width:100%; height:300px; bottom:0px; z-index:9999; }

#conteudo									{ position:relative; width:960px; height:100%; margin:0 auto; }

#social										{ position:absolute; text-align:center; background:#000; top:-350px; padding:10px; }
#social										{ margin:20px; border-radius:10px; }
#social										{ right:0px; box-shadow:inset 2px 2px 6px rgba(0,0,0,0.4); z-index:15; }
#social										{ border-bottom:1px rgba(255,255,255,0.1) solid; border-right:1px rgba(255,255,255,0.1) solid; }
#social ul									{ opacity:0; }
#social li									{ border-radius:10px; margin:10px 10px 10px 10px; opacity:0.2; }
#social li									{ cursor:pointer; }
#social img									{ width:48px; }
#social #button								{ position:absolute; text-align:center; padding:48px 0 48px 0; margin:20px 0 0 -3px; cursor:pointer; }
#social #button	img							{ position:relative; width:25px; box-shadow:0 0 5px rgba(0,0,0,1); }
#social #button	img							{ -webkit-transform:rotate(30deg); -moz-transform:rotate(30deg); -o-transform:rotate(30deg); transform:rotate(30deg);}
#social #button	img:nth-child(1)			{ margin-left:0px; }
#social #button	img:nth-child(2)			{ margin-left:-16px; }
#social #button	img:nth-child(3)			{ margin-left:-16px; }
#social #button	img:nth-child(4)			{ margin-left:-16px; }
#social #button	img:nth-child(5)			{ margin-left:-16px }
#social #button p							{ position:absolute; margin:0px; top:0px; font-size:16px; font-weight:bold; text-shadow:0 2px 4px rgba(0,0,0,1); }
#social #button p							{ color:#FFF; line-height:60px; }

#info										{ position:absolute; width:100%; height:auto; background:rgba(0,0,0,0.4); bottom:60px; border-radius:10px; }
#info										{ font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#FFF; text-align:center; }
#info ul									{ padding:10px;}
#info li:first-child						{ font-weight:bold; color:#c67329; }
#info ul, #info li							{ display:inline-block;}

#contato									{ position:absolute; width:auto; height:auto; padding:10px; bottom:0; right:-1000px; opacity:0; }
#contato									{ background:rgba(200,120,40,0.4); z-index:10; }
#contato									{ font-family:Verdana, Geneva, sans-serif; color:#FFF; text-shadow:0 1px 2px rgba(0,0,0,0.8); }
#contato									{ border-top-left-radius:10px; border-top-right-radius:10px; border-top:1px rgba(255,255,255,0.2) solid; }
#contato									{ box-shadow:0 0 10px rgba(0,0,0,0.6); }
#contato-sub								{ position:relative; width:auto; height:auto; background:url(../images/back-rpa.png); }
#contato-sub								{ border-top-left-radius:8px; border-top-right-radius:8px; }
#contato-cab								{ position:relative; background:url(../images/back-rpb.png); box-shadow:inset 0 -3px 5px rgba(0,0,0,0.2); } 
#contato-cab								{ border-bottom:1px rgba(255,255,255,0.3) solid; }
#contato-cab p								{ color:#FFF; font-size:20px; padding:10px 10px 10px 10px; text-shadow:0 1px 2px rgba(0,0,0,0.8); }
#contato-cont								{ position:relative; padding-bottom:45px; }
#contato-cont p								{ }
#contato-cont ul							{ padding:8px; width:auto; text-align:center; display:inline-block; vertical-align:top; }
#contato-cont li							{ padding:4px; }
#contato-cont input[type=text], textarea	{ width:250px; }
#contato-cont input[type=checkbox]			{ margin:0px 10px 0px 10px; }
#contato-cont input[type=submit]			{ margin:5px 0 0 0; }

.logo-active								{ position:absolute; }
.logo-focus									{ opacity:0; }

#galeria									{ position:relative; width:100%; display:none; z-index:999; }
#galeria #cabecalho							{ font-weight:bold; font-size:36px; color:#FFF; text-align:center; }
#galeria #cabecalho							{ margin:60px 0 0px 0; text-shadow:0 2px 4px rgba(0,0,0,1); }
#galeria #cabecalho p						{ padding-top:10px; color:#c67329; font-family:Verdana, Geneva, sans-serif; font-size:12px; }

#img-msn									{ position:absolute; margin:-2px 0 0 -18px; }