@charset "utf-8";

/* ============== CSS Default - HTML ============== */
a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
	color: #FFF;
	text-decoration: none;
}

a:active {
	color: #FFF;
	text-decoration: none;
}

a:visited {
	color: #FFF;
	text-decoration: none;
}

/* ============== default ============== */

body {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 12px;
	color: #FFF;
	background-color: #111;
	background-image: url('../images/wallpaper/wallpaper-site.jpg');
	background-size: cover;
	background-position: top center;
	overflow: hidden;
}

/* ============ text, password, button, submit ============ */

input[type=text],
input[type=password],
textarea,
select {
	-webkit-transition: 600ms;
	-moz-transition: 600ms;
	-o-transition: 600ms;
	-ms-transition: 600ms;
	transition: 600ms;
}

input[type=text],
input[type=password],
textarea {
	background: #FFF;
	color: #000;
	padding: 6px 6px 6px 6px;
	border: none;
	resize: none;
}

textarea {
	min-width: 200px;
	min-height: 80px;
	font-family: Verdana, Geneva, sans-serif;
}

input[type=button],
input[type=submit] {
	background: -webkit-linear-gradient(#EEE 50%, #DDD 50%);
	background: -moz-linear-gradient(#EEE 50%, #DDD 50%);
	background: -o-linear-gradient(#EEE 50%, #DDD 50%);
	background: -ms-linear-gradient(#EEE 50%, #DDD 50%);
	background: linear-gradient(#EEE 50%, #DDD 50%);
	border: none;
	color: #444;
	padding: 6px 16px 6px 16px;
	font-weight: bold;
	font-size: 14px;
	text-shadow: 1px 1px 0 #FFF;
}

input[type=button]:not(:disabled):active,
input[type=submit]:not(:disabled):active {
	background: -webkit-linear-gradient(#DDD 50%, #CCC 50%);
	background: -moz-linear-gradient(#DDD 50%, #CCC 50%);
	background: -o-linear-gradient(#DDD 50%, #CCC 50%);
	background: -ms-linear-gradient(#DDD 50%, #CCC 50%);
	background: linear-gradient(#DDD 50%, #CCC 50%);

	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6);
}

input[type=text]:disabled,
input[type=password]:disabled,
input[type=button]:disabled,
input[type=submit]:disabled,
textarea:disabled,
textarea:disabled {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;
	cursor: not-allowed;
}

/* ============ select ============ */

select {
	background: url(../images/select.png) right center no-repeat #FFF;

	min-width: 200px;

	color: #000;
	padding: 4px 4px 4px 4px;
	border: none;

	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

select:disabled {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;
	cursor: not-allowed;
}

/* ============ checkbox ============ */

.form-elements label {
	cursor: hand;
	cursor: pointer;
}

.form-elements label input[type="checkbox"],
.form-elements label input[type="radio"],
.form-elements label input[type="checkbox"]+span,
.form-elements label input[type="radio"]+span,
.form-elements label input[type="checkbox"]+span::before,
.form-elements label input[type="radio"]+span::before {
	vertical-align: middle;
}

.form-elements label input[type="checkbox"],
.form-elements label input[type="radio"] {
	position: absolute;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
}

.form-elements label input[type="checkbox"]+span,
.form-elements label input[type="radio"]+span,
.form-elements label input[type="checkbox"]+span::before,
.form-elements label input[type="radio"]+span::before {
	display: inline-block;
}

.form-elements label input[type="checkbox"]+span,
.form-elements label input[type="radio"]+span {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.form-elements label input[type="checkbox"]+span::before {
	content: url(../images/checkmark.png);
}

.form-elements label input[type="checkbox"]+span::before,
.form-elements label input[type="radio"]+span::before {
	text-indent: -9999px;
	width: 16px;
	height: 16px;

	font-size: 24px;
	line-height: 12px;

	border: 1px #999 solid;
	border-radius: 1px;
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 0px #DDD;

	background: #FFF;
	background: -webkit-linear-gradient(#E5E5E5 0%, #FFF 100%);
	background: -moz-linear-gradient(#E5E5E5 0%, #FFF 100%);
	background: -o-linear-gradient(#E5E5E5 0%, #FFF 100%);
	background: -ms-linear-gradient(#E5E5E5 0%, #FFF 100%);
	background: linear-gradient(#E5E5E5 0%, #FFF 100%);

	margin: -4px 10px 0 0;
}

.form-elements label:hover input[type="checkbox"]:not(:disabled)+span::before,
.form-elements label:hover input[type="radio"]:not(:disabled)+span::before {
	border: 1px #333 solid;
}

.form-elements label input[type="checkbox"]:checked+span::before,
.form-elements label input[type="radio"]:checked+span::before {
	text-indent: 2px;
	color: #666;
	text-shadow: 0 0 1px #000;
}

.form-elements label input[type="radio"]+span::before {
	content: "\2022";
	font-size: 22px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

.form-elements label input[type="radio"]:checked+span::before {
	text-indent: 2px;
}

.form-elements label input[type="checkbox"]:disabled+span::before,
.form-elements label input[type="radio"]:disabled+span::before {
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	opacity: 0.5;
}

.form-elements label input[type="checkbox"]:disabled+span,
.form-elements label input[type="radio"]:disabled+span,
.form-elements label input[type="checkbox"]:disabled+span::before,
.form-elements label input[type="radio"]:disabled+span::before {
	cursor: not-allowed;
}