#wrocky_effect_cab
{
	-webkit-transition:1000ms;
	-moz-transition:1000ms;
	-ms-transition:1000ms;
	-o-transition:1000ms;
}
#wrocky_effect_icons
{
	-webkit-transition:1000ms;
	-moz-transition:1000ms;
	-ms-transition:1000ms;
	-o-transition:1000ms;
}
#wrocky_menu img		
{
	-webkit-transition:600ms;
	-moz-transition:600ms;
	-ms-transition:600ms;
	-o-transition:600ms;
}
#wrocky_menu img:hover	
{ 
	-webkit-transform:scale(1.3) translate(0,-30px);
	-moz-transform:scale(1.3) translate(0,-30px);
	-ms-transform:scale(1.3) translate(0,-30px);
	-o-transform:scale(1.3) translate(0,-30px);
	
	-webkit-box-shadow:0 30px 20px rgba(0,0,0,0.1);
	-moz-box-shadow:0 30px 20px rgba(0,0,0,0.1);
	box-shadow:0 30px 20px rgba(0,0,0,0.1);
}