#main.default fieldset
{
    position: relative;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    margin: 10px auto;
    padding: 10px 25px 10px 25px;
    border: 1px #CCC solid;
    box-shadow: inset 1px 1px 0 #FFF, 1px 1px 0 #FFF;
    display: block;
}

    #main.default fieldset legend
    {
        padding: 10px;
        font-size: 14px;
        background: #EEE;
    }

    #main.default fieldset ul
    {
        padding: 2px;
        text-align: left;
    }

        #main.default fieldset ul li
        {
            display: inline-block;
            min-height: 35px;
            line-height: 35px;
            vertical-align: top;
        }

            #main.default fieldset ul li:first-child
            {
                min-width: 120px;
            }

        #main.default fieldset ul:last-child li
        {
            min-width: initial;
        }

        #main.default fieldset ul li label
        {
            color: #444;
        }

        #main.default fieldset ul li span
        {
            font-size: 10px;
        }

        #main.default fieldset ul li input[type=text],
        #main.default fieldset ul li input[type=password],
        #main.default fieldset ul li textarea,
        #main.default fieldset ul li select
        {
            font-family: Arial;
            font-size: 12px;
            min-width: 200px;
            padding: 5px;
            border: 1px #BBB solid;
            box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1), 1px 1px 0 #FFF;
        }

        #main.default fieldset ul li input[type=radio],
        #main.default fieldset ul li input[type=checkbox]
        {
            position: relative;
            top: 2.5px;
            margin: 0 5px 0 5px;
        }

        #main.default fieldset ul.fileinput .filefalse
        {
            position: relative;
            width: 190px;
            height: 33px;
            padding: 0 10px 0 10px;
            background: #FFF;
            background: -webkit-linear-gradient(#FFF,#EEE);
            background: -moz-linear-gradient(#FFF,#EEE);
            background: -o-linear-gradient(#FFF,#EEE);
            background: -ms-linear-gradient(#FFF,#EEE);
            background: linear-gradient(#FFF,#EEE);
            border: 1px #BBB solid;
            box-shadow: inset 1px 1px 0 #FFF, 1px 1px 0 #FFF;
            cursor: pointer;
        }

            #main.default fieldset ul.fileinput .filefalse img
            {
                position: absolute;
                right: 10px;
                top: 9px;
            }

        #main.default fieldset ul.fileinput .filelist
        {
            position: relative;
            min-width: 210px;
            height: auto;
            padding: 0px;
            margin-top: -1px;
            margin-bottom: 12px;
            background: #FFF;
            border: 1px #BBB solid;
            box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1), 1px 1px 0 #FFF;
            display: none;
        }

            #main.default fieldset ul.fileinput .filelist img
            {
                position: relative;
                top: 3px;
                margin: 0 8px 0 0;
            }

            #main.default fieldset ul.fileinput .filelist li
            {
                display: block;
                padding: 0 8px 0 8px;
                cursor: pointer;
            }

                #main.default fieldset ul.fileinput .filelist li p
                {
                    width: 180px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                #main.default fieldset ul.fileinput .filelist li:nth-child(2n+2)
                {
                    background: #EEE;
                }

                #main.default fieldset ul.fileinput .filelist li:hover
                {
                    background: #DDD;
                }

        #main.default fieldset ul.fileinput input[type=file]
        {
            display: none;
        }

    #main.default fieldset input[type=button],
    #main.default fieldset input[type=submit],
    #main.default fieldset input[type=reset]
    {
        background-color: #444;
        background-image: -webkit-linear-gradient(hsla(0,0%,100%,.15), hsla(0,0%,0%,0));
        background-image: -moz-linear-gradient(hsla(0,0%,100%,.15), hsla(0,0%,0%,0));
        background-image: -ms-linear-gradient(hsla(0,0%,100%,.15), hsla(0,0%,0%,0));
        background-image: -o-linear-gradient(hsla(0,0%,100%,.15), hsla(0,0%,0%,0));
        background-image: linear-gradient(hsla(0,0%,100%,.15), hsla(0,0%,0%,0));
        border: 1px solid #111;
        color: #EEE;
        cursor: pointer;
        display: inline-block;
        font: normal 14px/10px Verdana;
        padding: 8px 15px;
        margin: 10px 0;
        position: relative;
        text-decoration: none;
        text-shadow: 0 -1px 1px hsla(0,0%,0%,.8);
        vertical-align: top;
        box-shadow: 0 1px 4px hsla(0,0%,0%,.4), inset 0 1px 0 hsla(0,0%,100%,.2);
    }

        #main.default fieldset input[type=button]:not(:disabled):hover,
        #main.default fieldset input[type=submit]:not(:disabled):hover,
        #main.default fieldset input[type=reset]:not(:disabled):hover,
        #main.default fieldset input[type=button]:not(:disabled):focus,
        #main.default fieldset input[type=submit]:not(:disabled):focus,
        #main.default fieldset input[type=reset]:not(:disabled):focus
        {
            background-color: #222;
        }

        #main.default fieldset input[type=button]:not(:disabled):active,
        #main.default fieldset input[type=submit]:not(:disabled):active,
        #main.default fieldset input[type=reset]:not(:disabled):active
        {
            background-color: #202020;
            color: #b6b6b6;
            padding: 9px 15px 7px;
            box-shadow: 0 1px 0 hsla(0,0%,100%,.1), inset 0 1px 4px hsla(0,0%,0%,.8);
        }
