#_template_gallery {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

    #_template_gallery::-webkit-scrollbar {
        width: 10px;
    }

    #_template_gallery::-webkit-scrollbar-track {
        background: linear-gradient(transparent 50%, rgba(255,255,255,0.2));
    }

    #_template_gallery::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,0.4);
    }

    #_template_gallery preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);
        text-align: center;
        visibility: hidden;
        opacity: 0;
        z-index: 999;
    }

        #_template_gallery preloader p {
            position: relative;
            top: 45%;
            width: 100%;
            height: 72px;
            font-size: 72px;
            font-weight: 200;
            text-shadow: 0 5px 10px rgba(0,0,0,1);
            padding: 0;
            margin: 0;
        }

    #_template_gallery ._template_gallery_content {
        position: relative;
        width: 100%;
        max-height: calc(100% - 135px);
    }

        #_template_gallery ._template_gallery_content section {
            position: relative;
            line-height: 0;
            -webkit-column-count: 5;
            -webkit-column-gap: 0px;
            -moz-column-count: 5;
            -moz-column-gap: 0px;
            column-count: 5;
            column-gap: 0px;
        }

            #_template_gallery ._template_gallery_content section img {
                width: 100% !important;
                height: auto !important;
                cursor: pointer;
                filter: grayscale(100%);
            }

@media only screen and (max-width: 1200px) {
    #_template_gallery ._template_gallery_content section {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (max-width: 1000px) {
    #_template_gallery ._template_gallery_content section {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (max-width: 800px) {
    #_template_gallery ._template_gallery_content section {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (max-width: 400px) {
    #_template_gallery ._template_gallery_content section {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
